@media screen and (max-width: 1032px) {
    header{
        padding: 100px 8px 40px 8px;
    }
}

@media screen and (max-width: 860px) {
    header{
        padding: 80px 8px 40px 8px;
    }
    nav{
        justify-content: space-between;
    }
    .toggler{
        display: block;
    }
    .toggler button{
        width: 50px;
        height: 40px;
        font-size: 22px;
        color: #fff;
        background-color: #0000;
        border: 2px solid #fff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .toggler button:active{
        color: #23D4CE;
        background-color: #0000;
        border: 2px solid #23D4CE;
    }
    .nav-links{
        padding: 0;
        margin: 20px 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        display:none;
    }
    .nav-links a{
        width: 100%;
        margin: 4px;
        padding: 8px;
        font-size: 16px;
    }
    .nav-btns{
        display: none;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .youtube{
        width: 100px;
    }
    .testi .testi-map .reviews{
        width: 90%;
        padding: 8px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
    }
    .testi .testi-map .reviews:before{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    header{
        padding: 100px 8px 0 8px;
    }
    .features section div{
        max-width: 100%;
    }
    .pricing .row{
        padding: 60px 20px;
    }
    .pricing .row .col{
        min-width: 100%;
    }
    /*.bg-shade{
        display: none;
    }*/
    header section{
        min-width: 100%;
    }
}